<ion-card>
  
  <ion-card-content>

  <ion-row>
    <ion-col>
      {{cardvalue.name}}
    </ion-col>
  </ion-row>
    
  <ion-row>
    <ion-col>
      <img src='{{cardvalue.image}}'>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>
          {{cardvalue.amnt}}
      </ion-col>

      <ion-col>
          {{cardvalue.disc}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        discription goes here, discription goes here, discription goes here, discription goes here, discription goes here, 
        discription goes here
      </ion-col>
    </ion-row>

  </ion-card-content>

  </ion-card>